* {
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: aliceblue;
    color: #333;
    margin: 0;
    padding: 20px;
}
.container{
    max-width: 700px;
    margin: 30px auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    overflow: hidden;
    padding: 0 20px;
    
    
}
.formulario-cabecalho {
    background-color: rgb(89, 42, 133);
    color: white;
    padding: 20px 30px;
    text-align: center;
    border-radius: 10px 10px 0 0;

}
.formulario-cabecalho h1 {
    margin: 0;
    text-align: center;
    font-size: 1.8em;
    font-weight: bold;

}
.formulario-cabecalho p {
    margin: 5px 0 0 0;
    opacity: 0.9;
    font-size: 0.9em;
    font-weight: 300;
    text-align: center;
    font-style: italic;
    margin-top: 10px;
}
.campo {
    padding: 10px;
    display:block;
}
.informacao {
    margin: 10px 0;
    color: #641260;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
.formulario {
    padding: 30px;
}
fieldset {
    border: 2px solid #000000;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 25px;
}
.campo label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
}
.grupo-radio {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
}
.grupo-checkbox {
    display: inline-block;
    align-items: center;
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
    margin-top: 20px;
    gap: 10px;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[list],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
}
input:focus {
    border-color: #aa38a1;
    outline: none;
    box-shadow: 0 0 5px rgba(106, 90, 205, 0.5);
}
.grupo-checkbox, .grupo-radio {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.grupo-checkbox input, .grupo-radio input {
    margin-right: 10px;
}
.grupo-checkbox input, .grupo-radio label {
    margin-bottom: 0;
    font-weight: normal;
}
input[type="submit"] {
    background-color: #641260;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}
.botoes {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}
button {
    background-color: #641260;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: bold;
    flex: 1;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}